# .env.example

# E-mail do líder que terá permissões administrativas (pode adicionar vários separados por vírgula no código ou configurar aqui)
LEADER_EMAIL=vlp2@aluno.ifnmg.edu.br

# Firebase Configuration (Obtenha no Console do Firebase)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
